<table>
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Team</th>
            <th class="text-right">Points</th>
        </tr>
    </thead>
    <tbody>
        {% for team in standings %}
        <tr>
            <td class="text-center">{{ team.position }}</td>
            <td>
                <a href="/web/{{ league_key }}/team/{{ team.team_id }}/" class="team-link">{{ team.team_name }}</a>
            </td>
            <td class="text-right">{{ team.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
